html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

body {
    background-color: #f3decc;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.disclaimer {
    font: 700 20em/1 Times, Times New Roman, Georgia, serif;
    text-align: center;
    text-shadow: 2px 2px 0px #fff;
}
